{% block titlebar %}
    {% block titlebar_button_bar %}
    <div class="button-bar">
        {# BACK #}
        {% block back_button %}
            {% include 'flex-objects/pages/buttons/back.html.twig' %}
        {% endblock back_button %}

        {# PREVIEW #}
        {% if can_preview %}
        {% block preview_button %}
            {% include 'flex-objects/pages/buttons/preview.html.twig' %}
        {% endblock preview_button %}
        {% endif %}

        {% block extra_buttons %}{% endblock extra_buttons %}

        {# DELETE #}
        {% if can_delete %}
        {% block delete_button %}
            {% include 'flex-objects/pages/buttons/delete.html.twig' %}
        {% endblock delete_button %}
        {% endif %}

        {# SAVE #}
        {% if can_save %}
        {% block save_button %}
            {% include 'flex-objects/pages/buttons/save.html.twig' %}
        {% endblock save_button %}
        {% endif %}
    </div>
    {% endblock titlebar_button_bar %}

    {% block titlebar_title %}
    <h1>
        <i class="fa fa-fw {{ title_icon }}"></i>
        {% if allowed %}
            {{ not object.exists ? '[NEW]' }} {{ object.title ?? key }}
        {% else %}
            Not Found
        {% endif %}
    </h1>
    {% endblock titlebar_title %}

{% endblock %}
