{% block titlebar %}
    {% set back_url = grav.route.getRoute(0, -1) %}

    <div class="button-bar">
        <a class="button" href="{{ back_url }}"><i class="fa fa-reply"></i> {{ "PLUGIN_ADMIN.BACK"|tu }}</a>
    </div>
    <h1><i class="fa fa-fw fa-file-text-o"></i> {{ "PLUGIN_FLEX_OBJECTS.TITLE"|tu }}</h1>
{% endblock %}
