{% block titlebar %}
    {% block titlebar_button_bar %}
    <div class="button-bar">
        {# BACK #}
        {% block back_button %}
            {% include 'flex-objects/pages/buttons/back.html.twig' %}
        {% endblock back_button %}
    </div>
    {% endblock titlebar_button_bar %}

    {% block titlebar_title %}
    <h1>
        <i class="fa fa-fw fa-list"></i>
        {{ "PLUGIN_FLEX_OBJECTS.TITLE"|tu }}
    </h1>
    {% endblock titlebar_title %}
{% endblock %}
