<table id="data-table" class="table">
    <colgroup>
        <col width="20" />
        <col width="80" />
    </colgroup>
    <thead>
    <tr>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for type, directory in directories %}
        {% if not directory.config('site.hidden', false) %}
        <tr>
            <td>
                <a href="{{ url(directory_url ~ '/directory:' ~ type)|e }}">{{ directory.title|e }}</a>
            </td>
            <td>
                {{ directory.description|e }}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
