<a id="titlebar-button-back" class="button" href="{{ route.withGravParam('', 'export') }}">
    <i class="fa fa-download"></i> {{ export.title ?? (export.formatter.class ? 'PLUGIN_ADMIN.EXPORT'|tu : 'PLUGIN_FLEX_OBJECTS.CSV'|tu) }}
</a>
