{% set task = task ?? 'save' %}
<button id="titlebar-button-save" class="button" type="submit" name="task" value="{{ task }}" form="blueprints">
    <i class="fa fa-check"></i> {{ "PLUGIN_ADMIN.SAVE"|tu }}
</button>
