<a class="button disable-after-click" href="{{ uri.addNonce(page_url ~ '/task' ~ config.system.param_sep ~ 'copy', 'admin-form', 'admin-nonce') }}" class="page-copy" >
    <i class="fa fa-copy"></i> {{ "PLUGIN_ADMIN.COPY"|tu }}
</a>
