{% if parent_url %}
<a class="button" href="{{ parent_url }}" title="{{ 'PLUGIN_FLEX_OBJECTS.BUTTON_PARENT'|tu }}">
    <i class="fa fa-chevron-up"></i>
</a>
{% else %}
    <span class="button disabled" title="{{ 'PLUGIN_FLEX_OBJECTS.BUTTON_PARENT'|tu }}">
        <i class="fa fa-chevron-up"></i>
    </span>
{% endif %}
