{% if next_url %}
<a class="button" href="{{ next_url }}" title="{{ 'PLUGIN_FLEX_OBJECTS.BUTTON_NEXT'|tu }}">
    <i class="fa fa-chevron-right"></i>
</a>
{% else %}
    <span class="button disabled" title="{{ 'PLUGIN_FLEX_OBJECTS.BUTTON_NEXT'|tu }}">
        <i class="fa fa-chevron-right"></i>
    </span>
{% endif %}
