{% if child_url %}
<a class="button" href="{{ child_url }}" title="{{ 'PLUGIN_FLEX_OBJECTS.BUTTON_CHILD'|tu }}">
    <i class="fa fa-chevron-down"></i>
</a>
{% else %}
<span class="button disabled" title="{{ 'PLUGIN_FLEX_OBJECTS.BUTTON_CHILD'|tu }}">
    <i class="fa fa-chevron-down"></i>
</span>
{% endif %}
