{% set flex = grav.flex_objects %}
{% set directory = flex.directory(type) %}
{% set type = directory.type %}
{% set collection = directory.collection %}


<h2>{{ type|capitalize }}</h2>

{% render collection %}
