{% extends 'partials/base.html.twig' %}
{% use 'flex-objects/pages/titlebar/edit.html.twig' %}

{% set id = key %}
{% set object = directory.collection[id] %}
{% set blueprint = object.blueprint ?? directory.blueprint %}

{% block content_top %}
{% if directory and object or uri.param('action') == 'add' %}
    <div class="alert notice">{{ "PLUGIN_ADMIN.SAVE_LOCATION"|tu }}: <b>{{ url(object.storageFolder ?? directory.getStorageFolder())|trim('/') }} {{ not object ? '[NEW]' }}</b></div>
{% endif %}
{% endblock %}

{% block content %}
{% if directory and object or uri.param('action') == 'add' %}
<div id="directory">
    {% block edit %}{% endblock %}
</div>
{% else %}
    {% do page.modifyHeader('http_response_code', 404) %}
    <div class="error-block">
        <h1>Error 404</h1>
        <div class="padding">
            <p>
                Woops! Looks like this page doesn't exist.
            </p>
        </div>
    </div>
{% endif %}
{% endblock %}
