{% extends 'partials/base.html.twig' %}
{% use 'flex-objects/pages/titlebar/edit.html.twig' %}

{% set id = uri.param('id') %}
{% set flex = grav.flex_objects %}
{% set directory = flex.directory(target) %}
{% set entry = directory.collection[id] %}

{% if not entry and uri.param('action') != 'add' %}{% do grav.redirect(current_route) %}{% endif %}

{% block content_top %}
    <div class="alert notice">{{ "PLUGIN_ADMIN.SAVE_LOCATION"|tu }}: <b>.{{ url(entry.storageFolder ?? directory.getStorageFolder()) }} {{ not entry ? '[NEW]' }}</b></div>
{% endblock %}

{% block content %}
<div id="directory">
    {% set path = directory.config('admin.edit.template')|default('flex-objects/types/' ~ target ~ '/edit.html.twig') %}
    {% include [path, 'flex-objects/types/default/edit.html.twig'] %}
</div>
{% endblock %}