{% extends 'partials/base.html.twig' %}

{% set id = key %}
{% set object = directory.collection[id] %}

{% use 'flex-objects/pages/titlebar/edit.html.twig' %}

{% if not object and uri.param('action') != 'add' %}{% do grav.redirect(current_route) %}{% endif %}

{% set blueprint = object.blueprint ?? directory.blueprint %}

{% block content_top %}
    <div class="alert notice">{{ "PLUGIN_ADMIN.SAVE_LOCATION"|tu }}: <b>{{ url(object.storageFolder ?? directory.getStorageFolder())|trim('/') }} {{ not object ? '[NEW]' }}</b></div>
{% endblock %}

{% block content %}
<div id="directory">
    {% block edit %}{% endblock %}
</div>
{% endblock %}
