{% extends 'partials/base.html.twig' %}
{% use 'flex-objects/pages/titlebar/edit.html.twig' %}

{% set route = grav.route.withExtension('') %}

{# Allowed actions #}
{% set can_preview = can_preview ?? (object.exists and object.getRoute()) %}
{% set can_save = can_save ?? (object.exists ? object.isAuthorized('save') : directory.isAuthorized('create')) %}
{% set can_delete = can_delete ?? (object.exists and object.isAuthorized('delete')) %}
{% set can_translate = can_translate ?? (admin.multilang and object.hasFlexFeature('flex-translate')) %}

{# These variables can be overridden from the main template file #}
{% set allowed = allowed ?? (directory and (object.exists or action == 'add')) %}
{% set back_route = back_route ?? ('/' ~ (action != 'edit' and not key ? route.getRoute(1) : route.getRoute(1, -1))) %}
{% set title_icon = title_icon ?? directory.config.admin.menu.list.icon ?? 'fa-file-text-o' %}
{% set title = title ?? object.form.getValue('title') ?? object.title ?? key %}

{% block body %}
    {% set back_url = admin_route(back_route) ?: (base_url ~ back_route) %}
    {% set id = key %}
    {% set blueprint = blueprint ?? object.blueprint ?? directory.blueprint %}

    {{ parent() }}
{% endblock body %}

{% block content_top %}
    {% if allowed and user.authorize('admin.super') %}
        {% if directory and object or action == 'add' %}
            <div class="alert notice">{{ "PLUGIN_ADMIN.SAVE_LOCATION"|tu }}: <b>{{ url(object.storageFolder ?? directory.getStorageFolder())|trim('/') }} {{ not object.exists ? '[NEW]' }}</b></div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if allowed %}
        <div class="clear directory admin-pages">
            <div class="admin-form-wrapper">
                <div id="admin-topbar">
                    {% block topbar %}{% endblock %}
                </div>
                {% block edit %}
                    {% include 'partials/blueprints.html.twig' with { form: object.form, context: object, data: object, blueprints: blueprint } %}
                {% endblock %}
            </div>
        </div>

        {% include 'partials/modal-changes-detected.html.twig' %}

        {% if can_delete %}
            {% include 'flex-objects/pages/modals/remove.html.twig' with { name: target } %}
        {% endif %}

    {% else %}

        {% do page.modifyHeader('http_response_code', 404) %}
        <div class="error-block">
            <h1>Error 404</h1>
            <div class="padding">
                <p>
                    Woops! Looks like this page doesn't exist.
                </p>
            </div>
        </div>

    {% endif %}
{% endblock %}
