{% extends 'partials/base.html.twig' %}

{% set id = key %}
{% set entry = directory.collection[id] %}

{% use 'flex-objects/pages/titlebar/edit.html.twig' %}

{% if not entry and uri.param('action') != 'add' %}{% do grav.redirect(current_route) %}{% endif %}

{% set blueprint = entry.blueprint ?? directory.blueprint %}

{% block content_top %}
    <div class="alert notice">{{ "PLUGIN_ADMIN.SAVE_LOCATION"|tu }}: <b>{{ url(entry.storageFolder ?? directory.getStorageFolder())|trim('/') }} {{ not entry ? '[NEW]' }}</b></div>
{% endblock %}

{% block content %}
<div id="directory">
    {% block edit %}{% endblock %}
</div>
{% endblock %}
