{% extends 'partials/base.html.twig' %}
{% use 'flex-objects/pages/titlebar/edit.html.twig' %}

{% set id = key %}
{% set entry = directory.collection[id] %}

{% if not entry and uri.param('action') != 'add' %}{% do grav.redirect(current_route) %}{% endif %}

{% set blueprint = entry.blueprint ?? directory.blueprint %}
{% set entry_url = base_url_relative ~ '/' ~ location ~ '/' ~ target ~ '/' %}
{% set file_url_add = base_url_relative ~ '/' ~ location ~ '/' ~ target ~ '.json/id' ~ separator ~ uri.param('id') %}
{% set file_url_remove = base_url_relative ~ '/' ~ location ~ '/' ~ target ~ '.json/id' ~ separator ~ uri.param('id') %}

{% block content_top %}
    <div class="alert notice">{{ "PLUGIN_ADMIN.SAVE_LOCATION"|tu }}: <b>{{ url(entry.storageFolder ?? directory.getStorageFolder())|trim('/') }} {{ not entry ? '[NEW]' }}</b></div>
{% endblock %}

{% block content %}
<div id="directory">
    {% block edit %}{% endblock %}
</div>
{% endblock %}