{% extends 'partials/base.html.twig' %}
{% use 'flex-objects/pages/titlebar/list.html.twig' %}

{% set collection = directory.collection %}

{% block content_top %}
    <div class="alert notice">{{ "PLUGIN_ADMIN.SAVE_LOCATION"|tu }}: <b>{{ url(directory.storageFolder())|trim('/') }}</b></div>
{% endblock %}

{% block content %}
<div id="directory">
    {% block list %}{% endblock %}
</div>
{% endblock %}