{% extends 'flex-objects/pages/edit.html.twig' %}

{% block edit %}
    {% include 'partials/blueprints.html.twig' with { form: object.form, context: object, data: object, blueprints: blueprint } %}

    {% if key %}
        <div class="button-bar danger">
            <span class="danger-zone"></span>
            {% if object.isAuthorized('delete') %}
            <a href="#delete" data-remodal-target="delete" data-delete-url="{{ uri.addNonce(route.withoutParams().withGravParam('task', 'delete').getUri(), 'admin-form', 'admin-nonce') }}" class="button" ><i class="fa fa-fw fa-warning"></i> Delete Entry</a>
            {% endif %}
        </div>
        {% include 'flex-objects/pages/modals/remove.html.twig' with { name: target } %}
    {% endif %}

    {% include 'partials/modal-changes-detected.html.twig' %}
{% endblock %}
