{% set request = grav.request %}

<div id="user-profiles">
    <ul class="user-profiles">
        {% for object in collection %}
        <li>
            {% render object layout: layout with { link: request.uri ~ '/id:' ~ object.key } %}
        </li>
        {% endfor %}
    </ul>
</div>
