{% set directory = grav.flex_objects.directory(type) %}
{% set collection = directory.collection %}

<div id="flex-objects">
    <ul class="list">
        {% for entry in collection %}
            <li>
                <div class="entry-details">
                    {% for key,field in entry %}
                        <div>{{ key }}: {{ field|json_encode }}</div>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
