{% set directory = grav.flex_objects.directory(type) %}
{% set collection = directory.collection %}

<div id="flex-objects">
    <ul class="list">
        {% for entry in collection %}
            {% if entry.published %}
            <li>
                <div class="entry-details">
                    <h3>{{ entry.first_name }} {{ entry.last_name }}<small>&lt;{{ entry.email }}&gt;</small></h3>
                    <div>Web Site: <b>{{ entry.website }}</b></div>
                </div>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
