<div id="flex-objects">
    <ul class="list">
        {% for object in collection %}
            {% if object.published %}
            <li>
                {% render object layout: layout %}
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
