{% extends 'flex-objects/types/default/edit.html.twig' %}

{% block content_top %}
    <div class="alert notice">{{ "PLUGIN_ADMIN.SAVE_LOCATION"|tu }}: <b>{{ url(entry.storageFolder() ?? directory.getStorageFolder())|trim('/') }} {{ not entry ? '[NEW]' }}</b> (type: <b>{{ (entry.template ?? 'default') }}</b>)</div>
{% endblock %}