{% extends 'flex-objects/pages/list.html.twig' %}

{% set can_translate = can_translate ?? (admin.multilang and directory.object.hasFlexFeature('page-translate')) %}

{% block back_button %}
  {% include 'flex-objects/types/grav-pages/buttons/back.html.twig' %}
{% endblock %}

{% block create_button %}
  {% include 'flex-objects/types/grav-pages/buttons/add.html.twig' %}
{% endblock %}

{% block content_top %}
  {% if directory and grav.user.authorize('admin.super') %}
    <div class="alert notice">{{ "PLUGIN_ADMIN.SAVE_LOCATION"|tu }}:
      <b>{{ url(directory.storageFolder())|trim('/') }}</b></div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="parents-content fjs-container" tabindex="0">
    <div class="fjs-col">
      <ul class="fjs-list">
        <li class="fjs-item fjs-item-root" data-fjs-item=""><a href="" tabindex="-1"><span title="<root>"><i
                  class="fa fa-sitemap"></i>&lt;root&gt;</span><i class="fa"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="home"><a href="" tabindex="-1"><span title="Home"><i
                  class="fa fa-folder"></i>Home</span><i class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="typography"><a href="" tabindex="-1"><span
                title="Typography"><i class="fa fa-folder"></i>Typography</span><i class="fa fa-caret-right"></i></a>
        </li>
        <li class="fjs-item fjs-item-dir fjs-active" data-fjs-item="flex-pages"><a href="" tabindex="-1"><span
                title="Flex-pages"><i class="fa fa-folder"></i>Flex-pages</span><i class="fa fa-caret-right"></i></a>
        </li>
      </ul>
    </div>
    <div class="fjs-col">
      <ul class="fjs-list">
        <li class="fjs-item fjs-item-dir fjs-active" data-fjs-item="fuga-quasi-similique-quo"><a href=""
                                                                                                 tabindex="-1"><span
                title="Fuga Quasi Similique Quo"><i class="fa fa-folder"></i>Fuga Quasi Similique Quo</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="non-est-ut-officiis"><a href="" tabindex="-1"><span
                title="Non Est Ut Officiis"><i class="fa fa-folder"></i>Non Est Ut Officiis</span><i
                class="fa fa-caret-right"></i></a></li>
      </ul>
    </div>
    <div class="fjs-col">
      <ul class="fjs-list">
        <li class="fjs-item fjs-item-dir" data-fjs-item="architecto-non-omnis-commodi"><a href="" tabindex="-1"><span
                title="Architecto Non Omnis Commodi"><i class="fa fa-folder"></i>Architecto Non Omnis Commodi</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir fjs-active" data-fjs-item="blanditiis-quibusdam-ullam-quis"><a href=""
                                                                                                        tabindex="-1"><span
                title="Blanditiis Quibusdam Ullam Quis"><i
                  class="fa fa-folder"></i>Blanditiis Quibusdam Ullam Quis</span><i class="fa fa-caret-right"></i></a>
        </li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="commodi-recusandae-iure-ipsum"><a href="" tabindex="-1"><span
                title="Commodi Recusandae Iure Ipsum"><i class="fa fa-folder"></i>Commodi Recusandae Iure Ipsum</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="consequuntur-provident-maiores-illum"><a href="" tabindex="-1"><span
                title="Consequuntur Provident Maiores Illum"><i class="fa fa-folder"></i>Consequuntur Provident Maiores Illum</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="ducimus-vel-quis-pariatur"><a href="" tabindex="-1"><span
                title="Ducimus Vel Quis Pariatur"><i class="fa fa-folder"></i>Ducimus Vel Quis Pariatur</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="error-ipsam-cupiditate-non"><a href="" tabindex="-1"><span
                title="Error Ipsam Cupiditate Non"><i class="fa fa-folder"></i>Error Ipsam Cupiditate Non</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="est-in-ipsa-eaque"><a href="" tabindex="-1"><span
                title="Est In Ipsa Eaque"><i class="fa fa-folder"></i>Est In Ipsa Eaque</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="est-odit-nesciunt-et"><a href="" tabindex="-1"><span
                title="Est Odit Nesciunt Et"><i class="fa fa-folder"></i>Est Odit Nesciunt Et</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="et-et-officiis-optio"><a href="" tabindex="-1"><span
                title="Et Et Officiis Optio"><i class="fa fa-folder"></i>Et Et Officiis Optio</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="et-quia-quod-quod"><a href="" tabindex="-1"><span
                title="Et Quia Quod Quod"><i class="fa fa-folder"></i>Et Quia Quod Quod</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="fuga-qui-et-expedita"><a href="" tabindex="-1"><span
                title="Fuga Qui Et Expedita"><i class="fa fa-folder"></i>Fuga Qui Et Expedita</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="fugit-nisi-vel-est"><a href="" tabindex="-1"><span
                title="Fugit Nisi Vel Est"><i class="fa fa-folder"></i>Fugit Nisi Vel Est</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="hic-nam-ut-sunt"><a href="" tabindex="-1"><span
                title="Hic Nam Ut Sunt"><i class="fa fa-folder"></i>Hic Nam Ut Sunt</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="iste-excepturi-nemo-in"><a href="" tabindex="-1"><span
                title="Iste Excepturi Nemo In"><i class="fa fa-folder"></i>Iste Excepturi Nemo In</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="libero-ut-adipisci-sequi"><a href="" tabindex="-1"><span
                title="Libero Ut Adipisci Sequi"><i class="fa fa-folder"></i>Libero Ut Adipisci Sequi</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="maiores-rerum-voluptatibus-aut"><a href="" tabindex="-1"><span
                title="Maiores Rerum Voluptatibus Aut"><i class="fa fa-folder"></i>Maiores Rerum Voluptatibus Aut</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="modi-dolorem-est-at"><a href="" tabindex="-1"><span
                title="Modi Dolorem Est At"><i class="fa fa-folder"></i>Modi Dolorem Est At</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="mollitia-tenetur-quis-necessitatibus"><a href="" tabindex="-1"><span
                title="Mollitia Tenetur Quis Necessitatibus"><i class="fa fa-folder"></i>Mollitia Tenetur Quis Necessitatibus</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="nam-quod-dolor-cum"><a href="" tabindex="-1"><span
                title="Nam Quod Dolor Cum"><i class="fa fa-folder"></i>Nam Quod Dolor Cum</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="reprehenderit-est-incidunt-cumque"><a href=""
                                                                                               tabindex="-1"><span
                title="Reprehenderit Est Incidunt Cumque"><i class="fa fa-folder"></i>Reprehenderit Est Incidunt Cumque</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="rerum-illum-mollitia-est"><a href="" tabindex="-1"><span
                title="Rerum Illum Mollitia Est"><i class="fa fa-folder"></i>Rerum Illum Mollitia Est</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="sapiente-dolore-et-sunt"><a href="" tabindex="-1"><span
                title="Sapiente Dolore Et Sunt"><i class="fa fa-folder"></i>Sapiente Dolore Et Sunt</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="sit-adipisci-sed-vel"><a href="" tabindex="-1"><span
                title="Sit Adipisci Sed Vel"><i class="fa fa-folder"></i>Sit Adipisci Sed Vel</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="sit-aspernatur-quis-voluptatem"><a href="" tabindex="-1"><span
                title="Sit Aspernatur Quis Voluptatem"><i class="fa fa-folder"></i>Sit Aspernatur Quis Voluptatem</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="voluptatem-recusandae-unde-dolor"><a href=""
                                                                                              tabindex="-1"><span
                title="Voluptatem Recusandae Unde Dolor"><i
                  class="fa fa-folder"></i>Voluptatem Recusandae Unde Dolor</span><i class="fa fa-caret-right"></i></a>
        </li>
      </ul>
    </div>
    <div class="fjs-col">
      <ul class="fjs-list">
        <li class="fjs-item fjs-item-dir" data-fjs-item="alias-nam-molestiae-atque"><a href="" tabindex="-1"><span
                title="Alias Nam Molestiae Atque"><i class="fa fa-folder"></i>Alias Nam Molestiae Atque</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="animi-rem-iusto-autem"><a href="" tabindex="-1"><span
                title="Animi Rem Iusto Autem"><i class="fa fa-folder"></i>Animi Rem Iusto Autem</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="aperiam-aut-quas-sint"><a href="" tabindex="-1"><span
                title="Aperiam Aut Quas Sint"><i class="fa fa-folder"></i>Aperiam Aut Quas Sint</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="aspernatur-aperiam-ad-facere"><a href="" tabindex="-1"><span
                title="Aspernatur Aperiam Ad Facere"><i class="fa fa-folder"></i>Aspernatur Aperiam Ad Facere</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir fjs-active" data-fjs-item="blanditiis-odit-rerum-qui"><a href="" tabindex="-1"><span
                title="Blanditiis Odit Rerum Qui"><i class="fa fa-folder"></i>Blanditiis Odit Rerum Qui</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="enim-culpa-ipsa-hic"><a href="" tabindex="-1"><span
                title="Enim Culpa Ipsa Hic"><i class="fa fa-folder"></i>Enim Culpa Ipsa Hic</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="eum-ex-magnam-ut"><a href="" tabindex="-1"><span
                title="Eum Ex Magnam Ut"><i class="fa fa-folder"></i>Eum Ex Magnam Ut</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="fuga-earum-et-voluptatem"><a href="" tabindex="-1"><span
                title="Fuga Earum Et Voluptatem"><i class="fa fa-folder"></i>Fuga Earum Et Voluptatem</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="impedit-voluptas-alias-ipsum"><a href="" tabindex="-1"><span
                title="Impedit Voluptas Alias Ipsum"><i class="fa fa-folder"></i>Impedit Voluptas Alias Ipsum</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="in-alias-facere-animi"><a href="" tabindex="-1"><span
                title="In Alias Facere Animi"><i class="fa fa-folder"></i>In Alias Facere Animi</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="incidunt-distinctio-laborum-libero"><a href=""
                                                                                                tabindex="-1"><span
                title="Incidunt Distinctio Laborum Libero"><i class="fa fa-folder"></i>Incidunt Distinctio Laborum Libero</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="laborum-facilis-omnis-nesciunt"><a href="" tabindex="-1"><span
                title="Laborum Facilis Omnis Nesciunt"><i class="fa fa-folder"></i>Laborum Facilis Omnis Nesciunt</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="magni-dolorem-itaque-error"><a href="" tabindex="-1"><span
                title="Magni Dolorem Itaque Error"><i class="fa fa-folder"></i>Magni Dolorem Itaque Error</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="natus-odit-quia-numquam"><a href="" tabindex="-1"><span
                title="Natus Odit Quia Numquam"><i class="fa fa-folder"></i>Natus Odit Quia Numquam</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="nihil-ratione-et-omnis"><a href="" tabindex="-1"><span
                title="Nihil Ratione Et Omnis"><i class="fa fa-folder"></i>Nihil Ratione Et Omnis</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="perferendis-aperiam-nesciunt-molestias"><a href=""
                                                                                                    tabindex="-1"><span
                title="Perferendis Aperiam Nesciunt Molestias"><i class="fa fa-folder"></i>Perferendis Aperiam Nesciunt Molestias</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="quae-quo-corporis-inventore"><a href="" tabindex="-1"><span
                title="Quae Quo Corporis Inventore"><i class="fa fa-folder"></i>Quae Quo Corporis Inventore</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="quas-necessitatibus-qui-mollitia"><a href=""
                                                                                              tabindex="-1"><span
                title="Quas Necessitatibus Qui Mollitia"><i
                  class="fa fa-folder"></i>Quas Necessitatibus Qui Mollitia</span><i class="fa fa-caret-right"></i></a>
        </li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="quisquam-vel-voluptatem-rerum"><a href="" tabindex="-1"><span
                title="Quisquam Vel Voluptatem Rerum"><i class="fa fa-folder"></i>Quisquam Vel Voluptatem Rerum</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="rerum-neque-aut-dolore"><a href="" tabindex="-1"><span
                title="Rerum Neque Aut Dolore"><i class="fa fa-folder"></i>Rerum Neque Aut Dolore</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="sit-deserunt-ipsa-sed"><a href="" tabindex="-1"><span
                title="Sit Deserunt Ipsa Sed"><i class="fa fa-folder"></i>Sit Deserunt Ipsa Sed</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="soluta-itaque-repellendus-iste"><a href="" tabindex="-1"><span
                title="Soluta Itaque Repellendus Iste"><i class="fa fa-folder"></i>Soluta Itaque Repellendus Iste</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="temporibus-perspiciatis-dolorum-fugit"><a href=""
                                                                                                   tabindex="-1"><span
                title="Temporibus Perspiciatis Dolorum Fugit"><i class="fa fa-folder"></i>Temporibus Perspiciatis Dolorum Fugit</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="ut-dicta-aut-facilis"><a href="" tabindex="-1"><span
                title="Ut Dicta Aut Facilis"><i class="fa fa-folder"></i>Ut Dicta Aut Facilis</span><i
                class="fa fa-caret-right"></i></a></li>
        <li class="fjs-item fjs-item-dir" data-fjs-item="voluptatem-ut-reprehenderit-numquam"><a href=""
                                                                                                 tabindex="-1"><span
                title="Voluptatem Ut Reprehenderit Numquam"><i class="fa fa-folder"></i>Voluptatem Ut Reprehenderit Numquam</span><i
                class="fa fa-caret-right"></i></a></li>
      </ul>
    </div>
    <div class="fjs-col">
      <ul class="fjs-list"></ul>
    </div>
  </div>

  {# Modals #}
  <div class="remodal" data-remodal-id="modal" data-remodal-options="hashTracking: false">
    {% include 'partials/blueprints-new.html.twig' with { blueprints: admin.blueprints('admin/pages/new'), data: obj_data, form_id:'new-page' } %}
  </div>

  <div class="remodal" data-remodal-id="modal-folder" data-remodal-options="hashTracking: false">
    {% include 'partials/blueprints-new-folder.html.twig' with { blueprints: admin.blueprints('admin/pages/new_folder'), data: obj_data, form_id:'new-folder' } %}
  </div>

  <div class="remodal" data-remodal-id="modular" data-remodal-options="hashTracking: false">
    {% include 'partials/blueprints-new.html.twig' with { blueprints: admin.blueprints('admin/pages/modular_new'), data: obj_data, form_id:'new-modular' } %}
  </div>

  {# TODO: regular pages support extra modals from admin config #}

  <div class="remodal parents-container" data-remodal-id="parents"
       data-remodal-options="hashTracking: false, stack: true">
    <form>
      <h1>Parents</h1>
      <div class="grav-loading">
        <div class="grav-loader">Loading...</div>
      </div>
      <div class="parents-content"></div>
      <div class="button-bar">
        <a class="button secondary remodal-cancel" data-remodal-action="cancel" href="#"><i
              class="fa fa-fw fa-close"></i> {{ "PLUGIN_ADMIN.CANCEL"|tu }}</a>
        <a class="button" data-parents-select href="#"><i
              class="fa fa-fw fa-check"></i> {{ "PLUGIN_ADMIN.CONTINUE"|tu }}</a>
      </div>
    </form>
  </div>
{% endblock %}
