<a id="titlebar-button-copy" class="button disable-after-click" href="{{ uri.addNonce(route.withoutParams().withGravParam('task', 'copy').getUri(), 'admin-form', 'admin-nonce') }}" class="page-copy" >
    <i class="fa fa-copy"></i> {{ "PLUGIN_ADMIN.COPY"|tu }}
</a>
