{% if object.routable and object.published %}
<a href="{{ route.withQueryParam('preview', 1) }}" class="button" title="{{ "PLUGIN_ADMIN.PREVIEW"|tu }}">
    <i class="fa fa-eye"></i>
</a>
{% endif %}
