{# flex-objects/views/object.html.twig #}

{% set flex = grav.get('flex_objects') %}
{% set directory = flex.directory(type) %}
{% set object = directory.getObject(id) %}

{% if object %}
    {% render object layout: options.layout %}
{% else %}
    {% do page.modifyHeader('http_response_code', 404) %}
    <h2>Entry Not Found</h2>
{% endif %}
