{% extends 'flex-objects/pages/list.html.twig' %}

{% block create_button %}
    {% include 'flex-objects/types/flex-pages/buttons/add.html.twig' %}
{% endblock %}

{% block content %}
    {{ parent() }}

    {# Modals #}
    <div class="remodal" data-remodal-id="modal" data-remodal-options="hashTracking: false">
        {% include 'partials/blueprints-new.html.twig' with { blueprints: admin.blueprints('flex-objects/flex-pages/create'), data: object, form_id: 'new-page' } %}
    </div>
{% endblock %}
