{% extends 'partials/base.html.twig' %}
{% use 'flex-directory/pages/titlebar/list.html.twig' %}

{% set flex = grav.flex_directory %}
{% set directory = flex.directory(target) %}
{% set data = directory.collection.data %}

{% block content_top %}
    <div class="alert notice">{{ "PLUGIN_ADMIN.SAVE_LOCATION"|tu }}: <b>{{ directory.storage(true) }}</b></div>
{% endblock %}

{% block content %}
<div id="directory">
    {% set path = directory.config('admin/list/template')|default('flex-directory/types/' ~ target ~ '/list.html.twig') %}
    {% include [path, 'flex-directory/types/default/list.html.twig'] %}
</div>
{% endblock %}