<div class="remodal" data-remodal-id="delete" data-remodal-options="hashTracking: false">
    <form>
        <h1>Delete {{ name|singularize|capitalize }}</h1>
        <p class="bigger">
            Are you sure you want to permanently delete the {{ name|singularize }}?
        </p>
        <div class="button-bar">
            <button data-remodal-action="cancel" class="button secondary remodal-cancel"><i class="fa fa-fw fa-close"></i> {{ "PLUGIN_ADMIN.CANCEL"|tu }}</button>
            <a class="button disable-after-click" data-delete-action href="#"><i class="fa fa-fw fa-check"></i> {{ "PLUGIN_ADMIN.CONTINUE"|tu }}</a>
        </div>
    </form>
</div>
